/*Mixins*/
@mixin clas($label) {
  .col-#{$label} {
    background-color: #4b94f9;
  }
}
@mixin shadow($color) {
  -moz-box-shadow:    0 0 3px 4px $color;
  -webkit-box-shadow: 0 0 3px 4px $color;
  box-shadow:         0 0 3px 4px $color;
}
.post-text {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $color;
  color: $background;
  @include clas($label);
  input {
    width: 300px;
    @include shadow($background);
  }
  textarea {
    width: 300px;
    height: 80px;
    @include shadow($background);
  }
  button {
    width: 100px;
    height: 54px;
    &:hover {
      background: $color;
      color: white;
      cursor: pointer;
    }
  }
}
